/* Tab separate line */
  #tabbrowser-arrowscrollbox:not([overflowing]) .tabbrowser-tab[first-visible-unpinned-tab] .tab-background::before,
  .tabbrowser-tab:not([visuallyselected], [multiselected], :hover, :first-child) .tab-background::before,
  #tabbrowser-arrowscrollbox:not([overflowing]) .tabbrowser-tab:not([visuallyselected], [multiselected], :hover)[last-visible-tab] .tab-background::after {
    /* Box Model */
    content:  "";
    display:  block;
    position: absolute;
    top:   50%;

    /* Bar shape */
    width:     1px;
    height:   30px;
    overflow: hidden;

    /* Bar Color */
    opacity: var(--tab-separator-opacity);
    transition: opacity .2s var(--ease-basic) !important;
    background-color: color-mix(in srgb, currentColor 20%, transparent) !important; /*  Replace var(--toolbarseparator-color) - Hard coded for compatibility */
  }

  .tab-background::before {
    transform: translateX(-2.5px) translateY(calc(-50% + 1px)) !important;
  }
  .tabbrowser-tab[last-visible-tab] .tab-background::after {
    right: 0;
    transform: translateX(2.5px) translateY(calc(-50% + 1px)) !important;
  }

  .tabbrowser-tab:is([visuallyselected], [multiselected], :hover) + .tabbrowser-tab:not([visuallyselected]) .tab-background::before,
  .tabbrowser-tab[first-visible-unpinned-tab]:is([visuallyselected], [multiselected], :hover) .tab-background::before,
  #tabbrowser-arrowscrollbox[overflowing] tab.tabbrowser-tab[first-visible-unpinned-tab] .tab-background::before {
    opacity: 0 !important;
  }

/* Animations */
.urlbar-input-box,
#identity-box, 
#tracking-protection-icon-container,
.urlbar-history-dropmarker, 
.urlbar-page-action,
#reader-mode-button, 
[anonid=urlbar-go-button],
.toolbarbutton-1 > stack,
toolbarbutton:not(.titlebar-button):not([class^="findbar-find"]):not([class^="scrollbutton"]),
.close-icon,
toolbarbutton,
.subviewbutton,
stack,
.toolbarbutton-icon, 
vbox
{
    transition: background-color 0.30s !important;

} 

